.root {
    gap: 20px;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding-top: 25px;
}

.swrRoot,
.fetchRoot {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.titleWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.buttonWrapper {
    margin-top: 25px;
}
